github "socketio/socket.io-client-swift"
github "hsousa/HCSStarRatingView"
github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "hirohisa/ImageLoaderSwift" "0.12.2"
github "rs/SDWebImage"
github "ninjaprox/NVActivityIndicatorView"
git "https://github.com/RedMadRobot/input-mask-ios.git"
github "facebook/facebook-sdk-swift"

