github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "hirohisa/ImageLoaderSwift" "0.12.2"
github "socketio/socket.io-client-swift"
github "rs/SDWebImage"
github "daltoniam/Starscream"
github "facebook/Facebook-SDK-Swift"
github "ninjaprox/NVActivityIndicatorView"
github "artemkrachulov/AKMaskField"
git "https://github.com/RedMadRobot/input-mask-ios.git"
