<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21759997487-b6raa16624lhpqkj3f92u5j1sukfiidj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21759997487-b6raa16624lhpqkj3f92u5j1sukfiidj</string>
	<key>API_KEY</key>
	<string>AIzaSyAt740d3gAlrFGcJTFnGQupA4q51kc5jJA</string>
	<key>GCM_SENDER_ID</key>
	<string>21759997487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatalyze.dev</string>
	<key>PROJECT_ID</key>
	<string>chatalyze-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>chatalyze-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21759997487:ios:fda06172428f360a4ab8da</string>
	<key>DATABASE_URL</key>
	<string>https://chatalyze-dev.firebaseio.com</string>
</dict>
</plist>